.regularly {
    margin: 95.5px 0 65.23px 139px;
    left: 0;
}


.icon {
    width: 28px;
    height: 37px;
    color: #6882EF;
}



/*.main_col {*/
/*    background: url(../../Images/background.png) no-repeat center;*/
/*    background-size: cover;*/
/*}*/

