@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}


/*------------HEADER-----------------------------*/

.wrapper {
    background: url("Images/background.png") no-repeat right;
}

.header_logo {
    margin-top: 44px;
}

.header_menu {
    font-weight: bold;
    margin-top: 60.55px;
    font-size: 18px;
}

.header_menu_link {
    color: #593D3D;
    text-decoration: none;
    margin-right: 32px;
}

.header_menu_link:hover {
    color: #593D3D;
    text-decoration: none;
}

.header_menu_button {
    font-weight: bold;
    border-radius: 2rem;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    width: 106px;
    height: 47px;
    transition: 0.2s;
}

.header_menu_button:hover {
    background: #FFD836;
    border-color: #FFD836;
}

.header_menu_button:focus {
    outline: none;
}


/*--------------OFFER---------------------*/


/*-----------------MAIN-----------------------*/


.main_row {
    background: #F4F5F7 0 0 no-repeat padding-box;
}

.regularly {
    margin: 95.5px 0 65.23px 139px;
    left: 0;
    background: #F4F5F7 0 0 no-repeat padding-box;
}

.menu_line_title {
    margin-top: 90px;
    /*margin: 90px 606px 31px 0;*/
    font-weight: bold;
    font-size: 49px;
    color: #6882EF;
}

.menu_line_icon {
    margin-top: 32.84px;
    width: 28px;
    height: 37px;
    transform: scale(-1, 1);
}

.menu_line_description {
    margin-top: 32.84px;
    font-size: 16px;
    font-style: italic;
    color: #6882EF;
}

.menu_line_typeCleaning {
    margin-top: 25px;
    font-size: 14px;
    color: #593D3D;
}

.menu_line_button {
    margin: 24px 0 68.84px 0;
    width: 268px;
    height: 60px;
    background: transparent linear-gradient(90deg, #8DA3FF 0%, #6781EF 100%);
    border: none;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.7s;
}

.menu_line_button:hover {
    background: #FFD836;
}

.menu_line_button:focus {
    outline: none;
}
